@import 'base/variables';

header{
    padding: $paddingHeader;

    @media (max-width: 860px) {
        //mobile
        flex-direction: column;
        height: auto;
        .header__logo{
            display: flex;
            width: 100%;
            height: 60px;
            background-color: $fondoHeaderMobile;   
            justify-content: space-between;

            .header__img{
                justify-content: center;
                width: 120px;
                margin: 10px;                
            }      
            .hamburguesa{
                background-color: transparent;
                border: none;
                font-size: 30px;
                color: $contraste;
            } 
            
            i{
                margin-right: 10px;
            }
        }    
        .header__usuario{
            display: none;
        }
    }

    @media (min-width: 860px) {
        //desktop
        flex-direction: row;
        .header__logo{
            display: none;
        }
    }

    .header__barra{  
        display: flex;    
        justify-content: space-between;
        width: 100%;

        .header__saludo{  
            display:flex;
            justify-content: left;
            align-items: baseline;   
            margin: 10px;

            h1{
                display: inline;
                align-items: center;
                margin: 0px;
                margin-right: 10px;
                font-size: 2em;
            }                
        }

        .header__usuario{
            margin: 10px;
            ul{
                list-style: none;
                
            }

        }

        .usuario{
            background-color: $enfacis;
            &:hover{
                background-color: $contraste;
                color: $base-oscuro;
            }
        }

        i{
            margin-right: 15px;

        }
        
        .dropdown-menu{
            li{
                color: red;
                &:hover{
                    color: $enfacis;
                }
            }
        }
        
    }
}